.altaViaje-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f2ef;
}

.altaViaje-card {
    width: 680px;
    border-radius: 20px;
    background-color: #d9d9d9;
    margin-left: 260px;
}

.btn {
    margin-top: 1px;
}

.omnibus-container p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.omnibus-container {
    padding-left: 1%;
    display: none
}

#p-container {
    display: none;
}

#p-container p {
    text-align: center;
    line-height: 100px;

}