.altaOmnibus-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f2ef;
}

.altaOmnibus-card {
    width: 680px;
    border-radius: 20px;
    background-color: #d9d9d9;
    margin-left: 260px;
    padding: 0 !important;
}

.btn {
    margin-top: 1px;
}

.select-tipo-alta-omnibus {
    height: 40px;
    width: 48.5%;
    border: 1px solid #bdbdbd;
    border-bottom: none;
}

#individual-select {
    margin-left: 10.5px;
    background-color: #d9d9d9;
    border-radius: 20px 0 5px 0;
    border-right: none;
}

#csv-select {
    background-color: #bdbdbd;
    border-radius: 0 20px 0 5px;
    border-left: none;
}

#alta-individual {
    padding: 20px;
    padding-top: 0;
}

#csv-ejemplo {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 1%;
    cursor: default;
}

#csv-ejemplo p {
    margin: 0;
}