.aplicarDescuento-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f2ef;
}

.aplicarDescuento-card {
    width: 680px;
    border-radius: 20px;
    background-color: #d9d9d9;
    margin-left: 260px;
    padding-bottom: 0 !important;
}

.btn {
    margin-top: 1px;
}

#aviso {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 1%;
    cursor: default;
    padding: 2%;
}

#aviso p {
    margin: 0;
}