.cerrarSesion-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f2ef;
}

.cerrarSesion-card {
    width: 680px;
    border-radius: 20px;
    background-color: #d9d9d9;
    margin-left: 10px;
    margin-right: 10px;
}

.btn {
    margin-top: 1px;
    width: 100%;
}