.layout {
    padding: 30px 20px 20px 260px;
    background: #f5f2ef;
    min-height: 100vh;
    box-sizing: border-box;
}

.filtros {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.buscador {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: #d9d9d9;
    padding: 1rem;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.buscador button {
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 20px;
}

.graficas-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 2%;
    justify-items: center;
}

.grafica-item {
    width: 300px;
    margin: 5% 0;
}

@media (max-width: 768px) {
    .layout {
        padding: 20px;
    }

    .filtros {
        max-width: 100%;
    }

    .buscador {
        flex-direction: column;
    }

    .ordenar {
        justify-content: center;
    }

    .ordenar select {
        width: 100%;
    }
}